<h2>7 - *ngFor</h2>
<p>execute a for of, rendering the code inside for each item of the array.</p>

<table border style="border-collapse: collapse">
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>

<pre><code>  &lt;tr *ngFor="let pokemon of pokemons; let i = index"&gt;
    &lt;td&gt;{{'{{'}} pokemon.id {{'}}'}} &lt;/td&gt;
    &lt;td&gt;{{'{{'}} pokemon.name {{'}}'}} &lt;/td&gt;
    &lt;td&gt;{{'{{'}} pokemon.type {{'}}'}} &lt;/td&gt;
  &lt;/tr&gt;
</code></pre>

<hr />
