<app-string-interpolation></app-string-interpolation>

<app-click-action></app-click-action>

<app-html-properties></app-html-properties>

<app-two-way-biding></app-two-way-biding>

<app-template></app-template>

<app-ng-if></app-ng-if>

<app-ng-for [pokemons]="pokemons"></app-ng-for>

<app-ng-class [pokemons]="pokemons"></app-ng-class>

<app-ng-styles [pokemons]="pokemons"></app-ng-styles>

<app-modules-components></app-modules-components>

<h2>10.3 - Using the component:</h2>

<app-pokemon-list></app-pokemon-list>
