<h2>1 - {{ "{{" }} String Interpolation {{'}}'}}</h2>

<p>{{ name }}</p>

<pre><code>  {{'{{'}}name{{'}}'}}</code></pre>

<p>{{ numberOne + numberTwo }}</p>

<pre><code>  {{'{{'}}numberOne + numberTwo{{'}}'}}</code></pre>

<hr />
<h2>2 - (click)</h2>

<p>{{ isPokemon ? "isPokemon" : "isntPokemon" }}</p>
<button (click)="togglePokemon()">toogle state</button>

<pre><code>  &lt;button (click)="togglePokemon()"&gt;toogle state&lt;/button&gt;</code></pre>

<hr />

<h2>3 - [HTML properties]</h2>

<h3 [innerHTML]="h1Title"></h3>

<pre><code>  &lt;h3 [innerHTML]="h1Title"&gt;&lt;/h3&gt;</code></pre>

<img [src]="imageSrc" alt="a black cute dog" />

<pre><code>  &lt;img [src]="imageSrc" alt="" /&gt;</code></pre>

<hr />
<h2>4 - [()] - Banana Box - Two-Way data biding made easy</h2>

<p>{{ favoriteColor }}</p>
<input [(ngModel)]="favoriteColor" />

<pre><code>  &lt;input  [(ngModel)]="favoriteColor" /&gt;</code></pre>

<span>important: import FormsModule in module.ts, so it may work</span>

<hr />
<h2>5 - #Template</h2>

<input type="text" #pokemonName />
<button (click)="handleClick(pokemonName)">change border</button>

<pre><code>  &lt;input #pokemonName /&gt;
  &lt;button (click)="handleClick(pokemonName)"&gt;change border&lt;/button&gt;
</code></pre>

<p>
  Template is similar to useRef, it get the reference to the dom element itself,
  to be manipulated.. in this case changing the border color.
</p>

<hr />

<h2>6 - *ngIf</h2>

<ng-container
  *ngIf="pokemon.length; then pokemonList; else noPokemon"
></ng-container>
<ng-template #pokemonList
  ><h3>{{ pokemon }}</h3></ng-template
>
<ng-template #noPokemon><h3>input a pokemon name</h3></ng-template>

<input type="text" [value]="pokemon" (input)="handleChange($event)" />

<pre><code>
  &lt;ng-container *ngIf="pokemon.length; then pokemonList; else noPokemon"&gt;&lt;/ng-container&gt;
  &lt;ng-template #pokemonList&gt;{{'{{'}} pokemon {{'}}'}}&lt;/ng-template&gt;
  &lt;ng-template #noPokemon&gt;input a pokemon name&lt;/ng-template&gt;
</code></pre>

<hr />

<h2>7 - *ngFor</h2>
<p>execute a for of, rendering the code inside for each item of the array.</p>

<table border style="border-collapse: collapse">
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>

<pre><code>  &lt;tr *ngFor="let pokemon of pokemons; let i = index"&gt;
    &lt;td&gt;{{'{{'}} pokemon.id {{'}}'}} &lt;/td&gt;
    &lt;td&gt;{{'{{'}} pokemon.name {{'}}'}} &lt;/td&gt;
    &lt;td&gt;{{'{{'}} pokemon.type {{'}}'}} &lt;/td&gt;
  &lt;/tr&gt;
</code></pre>

<hr />

<h2>8 - ngClass and [class]</h2>

<p>
  works like css modules. Accessing classes inside the css file with dot
  notation, but it is only applied if the condition that follows evaluate to
  true.
</p>

<pre><code>  [class.isCool]="pokemon.isCool"</code></pre>

<p>
  With ngClass, the class is the 'key', and the value is what will be evaluated
  to apply or not the class, like:
</p>

<pre><code>  [ngClass]="{{ "{" }}isCool: pokemon.isCool{{ "}" }}",</code></pre>

<span
  >note: you can apply different classes based in different conditions with
  comma (,) like an normal object with keys and values, only the keys are
  classes that will be applied if the values evaluate to true, like:</span
>

<pre><code>  [ngClass]="{{"{"}}isntCool: !pokemon.isCool, cool: pokemon.isCool {{ "}" }}"</code></pre>

<table border style="border-collapse: collapse">
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let pokemon of pokemons; let i = index"
      [ngClass]="{ isntCool: !pokemon.isCool, cool: pokemon.isCool }"
    >
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>

<hr />

<h2>9 - ngStyle and [style]</h2>

<p>
  accessing the propertie style, like [style] and passing css like normal inline
  css:
</p>

<pre><code>  [style]=" !pokemon.isCool ? 'background: blue; color: white' : ''"</code></pre>

<p>or accessing a property in style, like:</p>

<pre><code>  [style.background]=" !pokemon.isCool ? 'blue' : 'red'"</code></pre>

<p>And you can do it with ternary, like:</p>

<pre><code>  [style]=" !pokemon.isCool ? 'background: blue; color: white' : 'background: red'"</code></pre>

<p>using ngStyle is more like the react.js style inline syntax:</p>

<pre><code>  [ngStyle]="{{'{'}}'backgroundColor': pokemon.isCool ? 'red' : 'blue'{{'}'}}"</code></pre>

<table border style="border-collapse: collapse">
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr
      *ngFor="let pokemon of pokemons; let i = index"
      [style]="
        !pokemon.isCool ? 'background: blue; color: white' : 'background: red'
      "
    >
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>
