.cool {
  background: orange;
  color: #000;
  font-weight: 600;
}

.isntCool {
  background: blue;
  color: #fff;
  font-weight: 600;
}

pre {
  padding: 1rem 0.5rem;
  background-color: #202024;
  color: #f6f6f8;
}
